{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <h1>Всі користувачі ({{ count }})</h1>
        {% if users %}
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        {{ user.username }} - {{ user.email }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Користувачів немає.</p>
        {% endif %}
    </div>
{% endblock %}